{{#section 'css'}}
<link rel="stylesheet" href="/css_customer/css_body/feedback/feedback.css">
{{/section}}

{{#section 'title'}}Feed Back{{/section}}
{{#section 'javascript'}}
<script src="/js/feedback/feedback.js"></script>
{{/section}}
{{#section 'feedback_active'}}
active
{{/section}}

<div class="container">
    <h2 class="tieude_contract"><span>Feed</span> Back</h2>
    <div class="__tong__ row">
        <div class="phan__tren col-lg-4">
            <div class="nen_xam contact_info row">
                <ul class=" contact_info_list">
                    <h3 class="tiendecon">Contact Info</h3>
                    <li class="contact_info_item">
                        <i class="fas fa-map"></i>
                        64 Thanh Nghị, Liên Chiểu, Đà Nẳng.
                    </li>
                    <li class="contact_info_item">
                        <i class="fas fa-envelope"></i>
                        facebookfinderhelp@gmail.com
                    </li>
                    <li class="contact_info_item">
                        <i class="fas fa-phone-square-alt"></i>
                        +84-912-306-253
                    </li>
                </ul>
            </div>
            <div class="nen_xam oppen_time row">
                <ul class=" oppen_time_list">
                    <h3 class="tiendecon">Opening Hours</h3>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Monday
                            </span>
                            07:00am - 10:00pm
                        </div>
                    </li>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Monday
                            </span>
                            07:00am - 10:00pm
                        </div>
                    </li>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Tuesday
                            </span>
                            07:00am - 10:00pm
                        </div>
                    </li>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Wednesday
                            </span>
                            07:00am - 10:00pm
                        </div>
                    </li>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Friday
                            </span>
                            07:00am - 10:00pm
                        </div>
                    </li>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Saturday
                            </span>
                            07:00am - 10:00pm
                        </div>
                    </li>
                    <li class="oppen_time_item">
                        <div>
                            <span class="daylv">
                                Sunday
                            </span>
                            Closed
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="phan__duoi col-lg-8">
            <form id="form_feedback" class="nen_xam form_gui">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email </label>
                    <input name="email" readonly="true" value="{{data.email}}" type="email" class="form-control"
                        id="txt_email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tên Đầy Đủ</label>
                    <input name="fullname" readonly="true" value="{{data.fullname}}" type="text" class="form-control"
                        id="txt_fullname">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Số Điện Thoại </label>
                    <input name="number_phone" readonly="true" value="{{data.numberPhone}}"
                        placeholder="Your Number Phone" type="text" class="form-control" id="txt_numberphone"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tiêu Đề </label>
                    <input name="Subject" placeholder="Your Subject" type="text" class="form-control" id="txt_Subject"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
                    <textarea name="content_feedback" style="height:240px;resize: none;" placeholder="Your Message"
                        class="form-control" id="txt_content_feedback" rows="3"></textarea>
                </div>
                <div class="mb-3 btn_str">
                    <a href="/home"> <button type="button" class="btn btn-danger">Cancel</button></a>
                    <button id="btn_send" type="submit" class="btn btn-primary">Send Now</button>
                </div>
            </form>
            <div class="nen_xam" style="height: 100%;text-align:center;padding: 70px 6px;" id="tong_tbaaa">
                <img style="420px" src="https://i.pinimg.com/originals/ef/ab/1e/efab1e4e5d5dcc9476eb36223b51d6ad.gif" alt="">
                <div>
                    <div class="alert alert-success" role="alert">
                        Send feedback successfully
                    </div>
                    <a href="/home">
                        <button type="button" class="btn btn-primary">OK</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>