{{#section 'css'}}
<link rel="stylesheet" href="/css_customer/css_body/authentication/register.css">
{{/section}}

{{#section 'title'}}Register{{/section}}

{{#section 'javascript'}}
<script src="/js/register/register.js"></script>
{{/section}}

<div class="all-register container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="register d-flex ">

                <!-- Demo content-->
                <div class="container">
                    <div id="toan_rgt" class="row">

                        <h4 style=" text-align:center" class="display-6">Self Learning</h4>
                        <br>
                        <div id="tb_dk" style="margin-top: 8px;" class="" role="alert">
                        </div>

                        <form action="/authentication/register" method="POST" id="register_form">
                            <div class="form_item">
                                <label for="validationDefault01">Email</label>
                                <input id="txt_email" type="email" class="form-control inpux_dk" Name="email"
                                    placeholder="Email">
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Full Name</label>
                                <input id="txt_fullname" type="text" class="form-control inpux_dk" name="fullname"
                                    placeholder="Full Name">
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Address</label>
                                <input id="txt_address" type="text" class="form-control inpux_dk" name="address"
                                    placeholder="Address">
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Number Phone</label>
                                <input id="txt_numberphone" type="text" class="form-control inpux_dk" name="numberPhone"
                                    placeholder="Number Phone">
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Type</label>
                                <select id="txt_type" name="type" class="form-select inpux_dk"
                                    aria-label="Default select example">
                                    <option value="1">Author</option>
                                    <option value="2">Student</option>
                                </select>
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Password</label>
                                <input type="Password" class="form-control inpux_dk" name='password' id="txt_password"
                                    placeholder="Password">

                                <label class="tb_register"></label>

                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Confirm Password</label>
                                <input type="Password" class="form-control inpux_dk" name='confirmpassword'
                                    placeholder="Confirm Password">

                                <label class="tb_register"></label>

                            </div>
                            <button id="btn_register" type="submit"
                                class="btn btn-success btn-register">Register</button>
                        </form>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>