.txt_toanbh {
    padding: 26px 0;
    text-align: center;
    background: #ccc;
    font-size: 20px;
    border-bottom: 1px solid #727272;
    margin: 0;
    margin-bottom: 6px;
}

.toan_bai {
    padding: 20px 0 20px 10px;
    font-weight: 500;
    color: #292929;
}

.acti {
    background-color: #fcdcd3;
    border: 1px solid #ffa389;
}
.toan_duoi{
    margin-left: 48px;
}
.ten_baihoc{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: 700;
}
.toan_bai span:hover{
    cursor: pointer;
    color: #f36d47
}