{{#section 'css'}}
<link rel="stylesheet" href="/css_customer/css_body/detailsCourse/details.css">
{{/section}}

{{#section 'title'}}Details Course{{/section}}
{{#section 'javascript'}}
<script src=""></script>
{{/section}}

<div class="container-fluid">
    <div class="content_details row">
        <div class="col-lg-8">
            <div class="toantrai">
                <div class="ten-khoahoc">
                    <h3>{{data.course_name}}</h3>
                </div>
                <div class="motakh">
                    <p>
                       {{data.course_description}}
                    </p>
                </div>
                <div class="ketquasaukhihoc">
                    <h6>Bạn sẽ học được gì ?</h6>
                    <ul class="list_hoc">
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Biết cách xây dựng giao diện web với HTML, CSS</span>
                        </li>
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span> Biết cách phân tích giao diện website</span>
                        </li>
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Biết cách đặt tên class CSS theo chuẩn BEM</span>
                        </li>
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Biết cách làm giao diện web responsive</span>
                        </li>
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Làm chủ Flexbox khi dựng bố cục website</span>
                        </li>
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Sở hữu 2 giao diện web khi học xong khóa học</span>
                        </li>
                        <li class="item-kq">
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Biết cách tự tạo động lực cho bản thân</span>
                        </li>
                    </ul>
                </div>
                <div class="nd-kh">
                    <div class="sticky_top">
                        <div style="padding-top: 4px;"></div>
                        <h6 style="margin:0 ;">Nội Dung Khóa Học</h6>
                    </div>

                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                    <div class="t_tungbai">
                        <i class="fa-solid fa-circle-play"></i>
                        <div class="tong_t">
                            <span class="bai">Bài 1:</span>
                            <span class="ten_bai">Làm được gì sau khóa học?</span>
                        </div>
                    </div>
                </div>
                <div class="yc">
                    <h6>Yêu Cầu</h6>
                    <ul class="list_yc">
                        <li class="item-yc">
                            <i class="fa-solid fa-check"></i>
                            <span>Máy vi tính kết nối internet (Windows, Ubuntu hoặc MacOS)</span>
                        </li>
                        <li class="item-yc">
                            <i class="fa-solid fa-check"></i>
                            <span>Ý thức tự học cao, trách nhiệm cao, kiên trì bền bỉ không ngại cái khó</span>
                        </li>
                        <li class="item-yc">
                            <i class="fa-solid fa-check"></i>
                            <span>Không được nóng vội, bình tĩnh học, làm bài tập sau mỗi bài học</span>
                        </li>
                        <li class="item-yc">
                            <i class="fa-solid fa-check"></i>
                            <span>Khi học nếu có khúc mắc hãy tham gia hỏi/đáp tại group FB: Học lập trình web
                                (fullstack.edu.vn)</span>
                        </li>
                        <li class="item-yc">
                            <i class="fa-solid fa-check"></i>
                            <span>Bạn không cần biết gì hơn nữa, trong khóa học tôi sẽ chỉ cho bạn những gì bạn
                                cần phải biết</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div style="padding-top: 4px;" class="sticky_top">
                <div class="bg_img" style="background-image: url(/upload/{{data.course_img}});"></div>
                <div class="tt_d">
                    <div class="d_gia">
                        <span>Miễn Phí</span>
                    </div>
                    <div class="t_btn_dk">
                        <button>Đăng Ký Khóa Học</button>
                    </div>
                    <div class="ttt_">
                        <div class="trinhdo">
                            <i class="fa-solid fa-gauge-high"></i>
                            <span>Trình Độ Cơ Bản</span>
                        </div>
                        <div class="so_bai_giag">
                            <i class="fa-solid fa-film"></i>
                            <span>Tổng Số <span style="font-weight: 600;">157</span> Bài Học</span>
                        </div>
                        <div class="dk_h">
                            <i class="fa-solid fa-battery-full"></i>
                            <span>Học Mọi Lúc, Mọi Nơi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>