{{#section 'css'}}
<link rel="stylesheet" href="/css_customer/css_body/authentication/register.css">
{{/section}}

{{#section 'title'}}Tạo Khóa Học{{/section}}

{{#section 'javascript'}}
<script src="/js/teacher/teacher.js"></script>
{{/section}}

<div class="all-register container-fluid">
    <div class="bg-light row no-gutter">
        <div class=" ">
            <div class="register d-flex ">
                <div id="tttong" class="container">
                    <div id="toan_rgt" class="row">
                        <h4 id="tieude" style=" text-align:center" class="display-6">Tạo Khóa Học</h4>
                        <br>
                        <div id="tb_dk" style="margin-top: 8px;text-align:center;width:600px;margin:30px auto" class="" role="alert">
                        </div>
                         {{>_form this}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>