{{#section 'css'}}
<link rel="stylesheet" href="/css_customer/css_body/exercise/exercise.css">
{{/section}}

{{#section 'title'}}Chỉnh Sửa Bài Tập{{/section}}

{{#section 'javascript'}}
<script src="/js/exercise/exercise1.js"></script>
{{/section}}


<div id="tong_them" class="container">
    <h6 class="thembt_title">Cập Nhật Bài Tập</h6>
    <form id="sua_exercise">
        <div class="bt_input mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Đề Bài</label>
            <textarea placeholder="Đề Bài" class="form-control" id="txt_question" rows="3" name="input">{{data.question}}</textarea>
        </div>
        <div class="bt_input mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Đầu Vào</label>
            <textarea placeholder="Đầu Vào" class="form-control" id="txt_input" rows="3" name="dauvao">{{data.input}}</textarea>
        </div>
        <div class="bt_output mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Kết Quả</label>
            <textarea placeholder="Kết Quả" class="form-control" id="txt_output" rows="3" name="output">{{data.output}}</textarea>
        </div>
        <div class="bt_output mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Gợi Ý</label>
            <textarea placeholder="Gợi Ý..." class="form-control" id="txt_goiy" rows="3" name="goiy">{{data.document}}</textarea>
        </div>
        <div id="bt_btn" class="bt_btn">
            <a href="/home">
                <button id="btn_dong" type="button" class="btn btn-secondary">Đóng</button>
            </a>
            <button id="btn_update_exercise" type="submit" class="btn btn-primary">Cập Nhật</button>
        </div>
    </form>
</div>